.button {
	background-color: $primary-blue;
	border: none;
	outline: none;
	color: white;
	font-size: 1.7rem;
	padding: 0.75rem 1.5rem;
	border-radius: 3px;
	text-transform: capitalize;
	cursor: pointer;

	&:hover {
		//background-color: rgb(1, 92, 189);
		box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.55);
	}

	&:active {
		background-color: darken($primary-blue, 25%);
	}
}
