//colors
$primary-blue: #007bff;
$dark-blue: #262632;
$dark-grey: #181818;
$light-pink: #ab4970;
$light-blue: #ab4970;
$light-green: #5cdb94;
$dark-blue-secondary: #063968;
$almost-black: #1a1a1c;
$light-grey: #aaaaaa;

//fonts
$font-stack-primary: "Open Sans", sans-serif;
